.hide-all img,
.Hide {
    display: none;
}

.show-all img,
.Show{
    display: inline !important;
}

.card.expansionHide{
    display: none !important;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #18191A;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(3px); /* Apply the blur effect to the overlay */
    z-index: 1000; /* Ensure the overlay is behind the popup */
}

/* Button Info */
.btn-main {
    color: #fff !important;
    background-color: #17a2b8;
    border: 2px solid #17a2b8;
}
  
.btn-main:hover {
    color: #17a2b8 !important;
    background-color: #138496;
    border: 2px solid #17a2b8;
    background: transparent;
    transition: .5s;
}
  
  /* Button Info Outline */
.btn-outline {
    color: #17a2b8 !important;
    background: transparent;
    border: 2px solid #17a2b8;
}
  
.btn-outline:hover {
    color: #fff !important;
    background-color: #17a2b8;
    border: 2px solid #17a2b8;
    transition: .5s;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#test {
    display: flex;
    align-items: start;
    flex-direction: row;
    margin-top: 20px;
}

button {
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    background-color: #57585a;
    margin: 3.5px;
    border: none;
    width: 115px;
    border: 2.5px solid #57585a;
    color: white;
}

button:hover {
    background-color: #656668;
    border: 2.5px solid #17a2b8;
}

#sets {
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-left: 26px;
}

#types {
    display: flex;
    flex-direction: column;
    width: 115px;
    position: sticky;
}

#categories {
    display: flex;
    flex-direction: column;
    width: 115px;
}

#filters {
    display: flex;
    flex-direction: row;
    width: 230px;
    position: sticky;
    top: 65px;
    margin-right: 40px;
}

#alert {
    color: red;
}

.startBTNs {
    width: 150px !important;
    margin-left: 2px !important; 
}

.buttons {
    display: flex;
    flex-direction: row;

}

#buttons button {
    width: 117px;
}

#test {
    display: flex;
    flex-direction: row;
}

#cards {
    width: 700px;
    margin-left: 10px;
    margin-right: 60px;
    position: sticky;
    top: 65px;
}

.special {
    text-align: left !important;
    margin: 0%;
    margin-left: 5px;
    color: white;
}

img {
    height: 264px;
    width: 164px;
    border: 3px solid black;
    border-radius: 5px;
    margin: 3.5px;
}

.miniCard {
    width: 148px;
    height: 238px;
    margin: 2px;
}

#selcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 316px;
    margin-left: 2px;
}

.scroll {
    height: 760px;
}

#selectedCards {
    position: sticky;
    top: 65px;
    /* set initial overflow to hidden */
    overflow-y: scroll;
    scrollbar-width: thin;
}

.selected {
    border: 2.5px solid #5cc0e4;
    background-color: #656668;
}

/* overflow-y:auto; */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#popUP {
    width: 450px;
    height: 370px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #242526;
    border-radius: 3%;
    text-align: center;
    z-index: 1001;
}

input[type=number] {
    /* border: 0; */
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    width: 350px;
    border: 2px solid black;
}

.nameInput {
    width: 300px;
    box-shadow: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 2px;
    border: 2px solid black;
    background-color: #3A3B3C;
    color: white;
    outline: none;
}

.nameInput::placeholder{
    color: white;
}

#createGame {
    width: 150px;
    position: absolute;
    bottom: 8px;
    left: 147px;
}

#popUP label {
    margin-top: 10px !important;
}
  
.minus {
    font-size: 45px;
    color: white;
    border: none;
    width: 30px;
    background-color: #3A3B3C !important;
}

.plus {
    font-size: 32px;
    font-weight: bold;
    color: white;
    border: none;
    width: 30px;
    background-color: #3A3B3C !important;
}

#scoreCards span {
    font-size: xx-large;
    color: white;
}

.fixing {
    margin: 0px;
    color: white;
}

.player {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 560px;
    background-color: #3A3B3C;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 15px;
}

.scoreKeeper {
    width: 110px;
    margin: 0 15px;
}

.title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 10px;
}

.title .name {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0px;
    background-color: #e0e3cf;
    border: none;
    width: 200px;
    height: 22px;
    z-index: 1;
    background-color: #3A3B3C;
    color: white;
}

.title .score {
    width: 50px;
    font-size: xx-large;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: white;
    -moz-appearance: textfield;
}

.title .resize {
    width: 2.1em;
    height: 2.1em;
    border: none;
    display: inline-block;
    vertical-align: middle;
}

.plus:hover, .minus:hover{
    background: none;
    border: none !important;
}

.displayScore {
    margin-top: 40px !important;
    width: 1200px !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}

input[type="text"] {
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    outline: none;
}

input[type="number"] {
    border: none;
    background-color: transparent;
    font-size: larger;
    font-family: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    outline: none;
    height: 35px;
}

.nameclicked {
    border: 2px solid #17a6da;
}