body {
    background-color: #18191A;
}

.Hide {
    display: none;
}

#playedgames {
    padding-bottom: 10px;
    width: 820px;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #242526;
    border-radius: 6px;
}

.game {
    display: flex;
    flex-direction: column;
    background-color: #3A3B3C;
    width: 175px;
    height: 240px;
    margin-top: 16px;
    border-radius: 5px;
    margin-left: 9px;
    margin-right: 9px;
}

.game:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.gameContent {
    margin-left: 8px;
}
.gameContent h5 {
    color: white;
    margin-bottom: 5px;
}

.gameContent h4 {
    color: white;
    margin-top: 14px;
    margin-bottom: 22px;
    font-family: 'Manolo Mono', sans-serif !important;
}

.gameimg {
    width: 175px;
    height: 98.4375px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
}

.games {
    display: flex;
    flex-direction: column;
    height: 315px;
    position: sticky;
    top: 65px;
}

.games button {
    padding: 5px 4px;
    border-radius: 5px;
    margin-top: 7px;
}



.btn-main {
    color: #fff !important;
    background-color: #17a2b8;
    border: 2px solid #17a2b8;
}
  
.btn-main:hover {
    color: #17a2b8 !important;
    background-color: #138496;
    border: 2px solid #17a2b8;
    background: transparent;
    transition: .5s;
}
  
  /* Button Info Outline */
.btn-outline {
    color: #17a2b8 !important;
    background: transparent;
    border: 2px solid #17a2b8;
}
  
.btn-outline:hover {
    color: #fff !important;
    background-color: #17a2b8;
    border: 2px solid #17a2b8;
    transition: .5s;
}

#testbtn {
    color: #a73939 !important;
    background: transparent;
    border: 2px solid #a73939;
}