#recentGames {
    height: 370px;
    width: 630px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #242526;
    border-radius: 6px;
}

/* .game {
    display: flex;
    flex-direction: row;
    background-color: #3A3B3C;
    width: 350px;
    height: 100px;
    margin-top: 16px;
    border-radius: 5px;
    margin-left: 9px;
    margin-right: 9px;
    transition: transform 0.2s;
} */

.game:hover {
    transform: scale(1.02);
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.img {
    width: 100px;
    height: 100px;
}

h3 {
    color: white;
    margin-top: 0px;
}

.gameContent {
    margin-left: 8px;
}
.gameContent h5 {
    color: white;
    margin-bottom: 5px;
}
.gameContent h4 {
    color: white;
    margin-top: 14px;
    margin-bottom: 22px;
    font-family: 'Manolo Mono', sans-serif !important;
}

.gameContent span{
    color: white;
}

.quickgame {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
    margin-top: 10px;
    background-color: #3A3B3C;
    padding-left: 6px;
    border-radius:5px !important;
}

.quickgame:hover {
    transform: scale(1.02);
    transition: transform 0.2s;
    cursor: pointer;
}

.btn-outline {
    color: #17a2b8 !important;
    background: transparent;
    border: 2px solid #17a2b8;
    outline: none;
    padding: 4px 7px;
    margin-top: 5px;
}

.quickgame p {
    color: white;
    font-size: larger;
    margin-bottom: 8px;
    margin-top: 6px;
    font-family: 'Manolo Mono', sans-serif !important;
}

.quickgame img {
    border-radius:0px 5px 5px 0px;
    width: 85px;
    height: 85px;
}

.gameid {
    margin-left: 95px;
    font-size: smaller;
}

.testimg {
    width: 175px;
    height: 98.4375px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#recentGames {
    height: 800px;
    width: 600px;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #242526;
    border-radius: 6px;
}

#recentGames .game {
    display: flex;
    flex-direction: column;
    background-color: #3A3B3C;
    width: 175px;
    height: 240px;
    margin-top: 16px;
    border-radius: 5px;
    margin-left: 9px;
    margin-right: 9px;
}

#recentGames h4 {
    color: white;
    margin-top: 14px;
    margin-bottom: 11px;
    height: 40px;
    font-family: 'Manolo Mono', sans-serif !important;
}

#recentGames h6 {
    color: white;
    font-size: small;
}

.stat {
    width: 250px;
    height: 80px;
    /* border: 1px solid #17a2b8; */
    background-color: #3A3B3C;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 8px;

}

.stat p {
    color: white;
    font-size: larger;
    z-index: 200;
}

.icon {
    background-color: #3A3B3C;
    z-index: 199;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -22px;
    /* border: 1px solid white; */
    border-radius: 50%;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    padding: 6px;
}

.gamepopup {
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #242526;
    border-radius: 8%;
    text-align: center;
    z-index: 1001;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(3px); /* Apply the blur effect to the overlay */
    z-index: 1000; /* Ensure the overlay is behind the popup */
}

.players{
    display: flex;
    justify-content: space-evenly;
}

.playerSection {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 40%;
    align-items: start;
    margin-bottom: 17px;
}

.playerSection2 {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: start;
    margin-bottom: 17px;
}

label {
    color: white;
}

input {
    background-color: #404040;
    padding: 5px;
    border: #404040;
    border-radius: 3%;
    color: white;
}

input::placeholder {
    color: #787675; /* Your desired color */
}

.close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    font-size: x-large;
    color: white;
}

.GameInfo{
    width: 540px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.changingform {
    margin-top: 10px !important;
    width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.res {
    border: 1px solid black;
    padding: 3px;
    position: absolute;
    top: 50px;
    background-color: #404040;
    width: 182px;
    border-radius: 5px;
    z-index: 1;
}

.res ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.res ul li {
    padding: 3px 0;
    background-color: #404040;
    color: white;
}

.res ul li:hover {
    cursor: pointer;
}


.game {
    width: 500px; 
    height: 220px; 
    background-color: #3A3B3C;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gamePicture {
    width: 115px; 
    height: 115px; 
}

.profilePicture {
    margin-top: 10px;
    margin-right: 15px;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

.testtext p {
    color: white;

}

.name {
    margin: 12px 0 0 0;
    font-size: large;
}

.date {
    font-size: smaller;
}

.gameName {
    font-size: 22px;
}

.gameInformation p {
    color: white;
}

.gameInformation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.podium{
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.standing {
    font-size: small;
    margin: 0;
}

.medal {
    height: 40px;
    width: 40px;
}

.placer {
    margin-bottom: 4px;
    font-size: large;
    /* color: black !important; */
}

#latestGame{
    background-color: #3A3B3C; 
    padding: 10px; 
    border-radius: 5px; 
    margin-top: 25px; 
    width: 250px;
}

#latestGame p {
    color: white;
    font-size: smaller;
    margin-bottom: 0px;
}

#latestGame span {
    color: white;
}

.arrow {
    width: 20px;
    height: 20px;
}

#profile {
    width: 60px; 
    height: 60px; 
    border-radius: 50%;
}

.quickLink {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    background-color: #3A3B3C; 
    padding: 10px; 
    border-radius: 5px; 
    margin-top: 10px; 
    width: 250px;
}

.quickLink:hover {
    transform: scale(1.02);
    transition: transform 0.2s;
    cursor: pointer;
}