
#mainLayout {
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#displayname {
    margin: 0px;
    color: white;
}

/* Recent Games Section */

#recentGames {
    height: 520px;
    width: 600px;
    /* overflow-y: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #242526;
    border-radius: 6px;
}

#recentGames .game {
    display: flex;
    flex-direction: column;
    background-color: #3A3B3C;
    width: 175px;
    height: 240px;
    margin-top: 16px;
    border-radius: 5px;
    margin-left: 9px;
    margin-right: 9px;
}

.game:hover {
    transform: scale(1.03);
    transition: transform 0.2s;
    cursor: pointer;
}

#recentGames h4 {
    color: white;
    margin-top: 14px;
    margin-bottom: 11px;
    height: 40px;
    font-family: 'Manolo Mono', sans-serif !important;
}

#recentGames h6 {
    color: white;
    font-size: small;
}

.gameid {
    margin-left: 95px;
    font-size: smaller;
}

.testimg {
    width: 175px;
    height: 98.4375px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

h3 {
    color: white;
    margin-top: 0px;
}

.gameContent {
    margin-left: 8px;
}

.gameContent h5 {
    color: white;
    margin-bottom: 5px;
}

.gameContent h4 {
    color: white;
    margin-top: 14px;
    margin-bottom: 22px;
    font-family: 'Manolo Mono', sans-serif !important;
}

.gameContent span{
    color: white;
}

/* Friends Section */

.friend {
    color: white;
    font-size: larger;
    font-family: 'Manolo Mono', sans-serif !important;
}

.btn-outline {
    color: #17a2b8 !important;
    background: transparent;
    border: 2px solid #17a2b8;
    outline: none;
    padding: 4px 7px;
    margin-top: 5px;
    border-radius: 5px;
    width: 220px;
    margin-bottom: 15px;
}

/* Stats Section */

.stat {
    width: 220px;
    height: 80px;
    /* border: 1px solid #17a2b8; */
    background-color: #3A3B3C;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 8px;

}

.stat p {
    color: white;
    font-size: larger;
    z-index: 200;
}

.icon {
    background-color: #3A3B3C;
    z-index: 199;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -22px;
    /* border: 1px solid white; */
    border-radius: 50%;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    padding: 6px;
}

/* Favorites Section */

#favoriteGames {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.miniCard{
    background-color: #3A3B3C;;
    width: 250px;
    height: 85px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.miniCard img {
    width: 85px;
    height: 85px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.miniCard p, span{
    color: white;
    font-size: larger;
}

.miniCard span{
    height: 45px;
}

#addFavorite {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addFavorite p {
    margin: none;
    color: #17a2b8
}

#favorites .btn-outline {
    color: #17a2b8 !important;
    background: transparent;
    border: 2px solid #17a2b8;
    outline: none;
    padding: 4px 7px;
    margin-top: 0px;
    border-radius: 5px;
    width: 140px;
    margin-bottom: 8px;
    margin-right: 12px;
}

/* Expand Favorites */

#expandpopup {
    width: 680px;
    height: 460px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #242526;
    border-radius: 8%;
    text-align: center;
    justify-content: center;
    z-index: 201;
}

.close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    font-size: x-large;
    color: white;
}

#favoritespopup {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.favoriteCard {
    display: flex;
    flex-direction: column;
    background-color: #3A3B3C;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /* margin: 4px 10px; */
}

.favoriteCard img {
    width: 95px;
    height: 95px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.favoriteCard span {
    width: 95px;
    height: 50px;
    text-wrap: wrap;
}

.remove {
    margin-bottom: 7px;
    color: #a73939 !important;
    background: transparent;
    border: 2px solid #a73939;
    border-radius: 5px;
}

@media (max-width: 420px) {
    #mainLayout {
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #mainLayout #gameSection {
        width: 100% !important;
        margin: 0;
        height: 830px;
    }
    
    #mainLayout #favorites {
        width: 100% !important;
        margin: 15px 0 0 0 !important;
    }

    /* #mainLayout .section {
        margin: 10px;
        border-radius: 8px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        background-color:#242526;
        width: 60% !important;
    } */

    #mainLayout #friends {
        width: 100% !important;
        margin: 15px 0 0 0 !important;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mainLayout #recentGames {
        width: 100% !important;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #242526;
        border-radius: 6px;
    }

    #recentGames .game {
        display: flex;
        flex-direction: column;
        background-color: #3A3B3C;
        width: 160px;
        height: 240px;
        margin-top: 16px;
        border-radius: 5px;
        margin-left: 9px;
        margin-right: 9px;
    }

    .testimg {
        width: 160px;
        height: 85px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    #placeholder {
        width: 100%;

    }

    #statisticsSection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #statsisticsHeader {
        margin-right: 160px;
    }

    .stat {
        width: 180px;
        height: 80px;
        /* border: 1px solid #17a2b8; */
        background-color: #3A3B3C;
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        border-radius: 8px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .stat p {
        color: white;
        font-size: larger;
        z-index: 200;
    }

    .gameContent span {
        font-size: 10.3px !important;
    }

    /* .game h4 {
        color: white;
        font-size: 12px;
        margin-top: 14px;
        margin-bottom: 11px;
        height: 40px;
        font-family: 'Manolo Mono', sans-serif !important;
    }
    
    .game h5 {
        color: white;
        font-size: 10px;
    } */

  }