<html>
  <head>
    <title>Game Records</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/GameRecordsStyles.css') }}">
    <script src="{{ url_for('static', filename='js/GameRecord.js') }}" defer></script>
  </head>
  <body>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}
    <div id="content">
      <div class="section games">
        <h3 style="margin-bottom: 10px;">Favorites</h3>
        {% for game in favoriteGames[:5] %}
          <button id="{{ game[0].replace(' ', '') }}" class="gamebtn btn-outline">{{ game[0] }}</button>
        {% endfor %}
        <button id="testbtn" style="margin-top: 25px;">Clear All</button>
        
      </div>
      <div class="section">
        <h3 style="margin-bottom: 0px;">Played Games</h3>
        <div id="playedgames">
          {% if sortedGames %}
          {% for game in sortedGames %}
          <div class="game {{ game.game_type.replace(' ', '') }}">
            <div >
              <img class="gameimg" src="{{ url_for('static', filename='images/home/' + game.game_type.replace(' ', '') + '.png') }}" style="border-top-right-radius: 5px;">
                <!-- <img src="/static/images/{{ game.game_type }}.png"> -->
                <!-- <h5 style="margin-left: 5px; color: white; margin-bottom: 0px; margin-top: 6px;">{{ game.game_id }}</h5> says current but is game date -->
            </div>
            <div class="gameContent">
              <h4 class="gameName">{{ game.game_type }}</h4>
              <h5 class="winner" style="margin-top: 30px;">Winner: {{ game.winnerName }}</h5>
              <h5>Second: {{ game.secondName }}</h5>
              <span class='gameID' style="font-size: smaller; color: white;">Game ID {{ game.game_id}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <span style="font-size: smaller; color: white;">{{ game.current_date }}</span>
              <!-- <h5 style="text-decoration: underline;">Expand</h5> -->
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      
    </div>
    <div id="overlay" class="Hide"> </div>
    <div id="popups"> </div>
    <script>
      let clearAllButton = document.getElementById('testbtn');
      clearAllButton.addEventListener('click', () => {
        // Remove 'btn-main' class and add 'btn-outline' class to all buttons
        gameBTNs.forEach(button => {
          button.classList.add('btn-outline');
          button.classList.remove('btn-main');
        });

        // Show all games
        games.forEach(game => {
          game.classList.remove('Hide');
        });
      });

      let games = document.querySelectorAll(".game");
      let gameBTNs = document.querySelectorAll(".gamebtn");

      gameBTNs.forEach(btn => {
        btn.addEventListener('click', () => {
          // Toggle the 'btn-main' and 'btn-outline' classes on the clicked button
          btn.classList.toggle('btn-main');
          btn.classList.toggle('btn-outline');

          // Get the game types of all clicked buttons
          let activeGameTypes = Array.from(document.querySelectorAll('.btn-main')).map(btn => btn.id);

          // Check if no buttons are active
          if (activeGameTypes.length === 0) {
            // If no buttons are active, show all games
            games.forEach(game => {
              game.classList.remove('Hide');
            });
          } else {
            // Show all games whose type is in the activeGameTypes array, hide others
            games.forEach(game => {
              if (activeGameTypes.some(type => game.classList.contains(type))) {
                game.classList.remove('Hide');
              } else {
                game.classList.add('Hide');
              }
            });
          }
        });
      });

      // creating the popup to show a games information
      let gameIDs = document.querySelectorAll(".gameID");
      let gameNames = document.querySelectorAll(".gameName");
      for(let i =0; i < games.length; i++){
        games[i].addEventListener('click', () => {
          console.log(gameNames[i].innerText)
          showGame(gameIDs[i].innerText, gameNames[i].innerText)
        })
      }

      // removing overlay
      let overlay = document.querySelector("#overlay");
        overlay.addEventListener('click', () => {
          overlay.classList.add("Hide");
          Popup = document.querySelector("#Popup");
          Popup.remove();
      })

      function showGame(gameid, game) {
        overlay.classList.remove("Hide");
        // Create the main div
        const Popup = document.createElement('div');
        Popup.id = 'Popup';
        Popup.classList.add('gamepopup');

        // Create the close button
        const closeButton = document.createElement('p');
        closeButton.classList.add('close-button');
        closeButton.textContent = 'x';
        Popup.appendChild(closeButton);

        // Create the heading
        const heading = document.createElement('h2');
        heading.style.color = 'white';
        heading.textContent = `Edit This ${game} Record`;
        Popup.appendChild(heading);

        const form = document.createElement('form');
        form.action = `{{ url_for('updategame') }}`;
        form.method = "POST";
        form.autocomplete = "off";
        form.classList.add("changingform")

        let gameMaxLength = {
            'Dominion': 4,
            'Catan': 4,
            'Clank': 4,
            'Lords of Waterdeep': 5,
            'Moonrakers': 5,
            'CosmicEncounter': 5
        };

        const Length = gameMaxLength[game];
        if(Length == 4){
            Popup.style.height = '440px';
        } else if (Length == 5) {
            Popup.style.height = '525px';
        } else if (Length == 6) {
            Popup.style.height = '580px';
        }
        
        //get id
        let trimmedGameID = gameid.trim().split(' ')[2];

        const testcontainer = document.createElement('div');
        testcontainer.id = 'gameInfoContainer';
        testcontainer.classList.add("GameInfo")
        Popup.appendChild(form);

          // call endpoint
          fetch(`/displayGame?game=${game}&id=${trimmedGameID}`)
          .then(response => response.json())
          .then(data => {
            console.log(data); // Output: Response data from the "showgame" endpoint
            let gameInfoContainer = document.getElementById('gameInfoContainer');
            let order = ['winnerName', 'winnerScore', 'secondName', 'secondScore', 'thirdName', 'thirdScore', 'fourthName', 'fourthScore', 'fifthName', 'fifthScore', 'sixthName', 'sixthScore'];
            const labelMappings = {
                winnerName: "Winner",
                winnerScore: "Score",
                secondName: "Second",
                secondScore: "Score",
                thirdName: "Third",
                thirdScore: "Score",
                fourthName: "Fourth",
                fourthScore: "Score",
                fifthName: "Fifth",
                fifthScore: "Score",
                sixthName: "Sixth",
                sixthScore: "Score"
            };

            if (gameMaxLength[game]) {
                let maxLength = gameMaxLength[game];
                // Adjust order array based on gameMaxLength
                order = order.slice(0, maxLength * 2);
                order.push('date');
                order.push('submit');
            }

            order.forEach(key => {
              console.log(key)
              if (key === 'date') {
                // Creaing game id
                const Div = document.createElement('div');
                Div.classList.add("playerSection2");
                Div.style = 'width: 25%; !important'
                let gameID = document.createElement('input');
                gameID.id = 'game_id';
                gameID.name = 'game_id';
                gameID.value = trimmedGameID;
                gameID.style = 'color: white; width: 97px;';
                gameID.readOnly = 'readonly';
                // Creaing game id label
                let IDLabel = document.createElement('label');
                IDLabel.setAttribute('for', "gameID");
                IDLabel.innerText = "Game ID";

                const newDiv = document.createElement('div');
                newDiv.classList.add("playerSection2");

                // Formatting the new date
                let dateString = data.date;
                let dateObject = new Date(dateString);
                let formattedDate = dateObject.toISOString().split('T')[0];

                // Creating date picker input
                const datePickerInput = document.createElement('input');
                datePickerInput.type = "date";
                datePickerInput.id = "datepicker";
                datePickerInput.name = "datepicker";
                datePickerInput.value = formattedDate;
                
                // Creating label for date picker
                const dateLabel = document.createElement('label');
                dateLabel.setAttribute('for', "datepicker");
                dateLabel.innerText = "Select Date";

                Div.appendChild(IDLabel);
                Div.appendChild(gameID);
                newDiv.appendChild(dateLabel);
                newDiv.appendChild(datePickerInput);
                form.appendChild(Div);
                form.appendChild(newDiv);
              } else if (key === 'submit') {
                // Creating submit button
                const newDiv = document.createElement('div');
                newDiv.classList.add("playerSection2");
                const submitButton = document.createElement('button');
                submitButton.innerText = "Update Record";
                submitButton.classList.add('btn');
                submitButton.classList.add('btn-primary');
                submitButton.style = 'margin-top: 24px; width: 125px;';

                newDiv.appendChild(submitButton);
                form.appendChild(newDiv);
                gameType = document.createElement('input');
                gameType.name = 'game';
                gameType.value = game;
                gameType.style = 'Display: none;'

                form.appendChild(gameType);
              } else {
                const newDiv = document.createElement('div');
                newDiv.classList.add("playerSection");
                // For other keys
                const newInput = document.createElement('input');
                
                if (data[key]) {
                    newInput.placeholder = `${data[key]}`;
                    newInput.value = `${data[key]}`;
                }

                newInput.id = `${key}`;
                newInput.name = `${key}`;
                
                // Creating label
                const newLabel = document.createElement('label');
                newLabel.setAttribute('for', key);
                newLabel.innerText = labelMappings[key] || key;

                newDiv.appendChild(newLabel);
                newDiv.appendChild(newInput);
                form.appendChild(newDiv);
              }
                    
                
            });
          })
          .catch(error => {
              console.error('There was a problem with the fetch operation:', error);
          });

          // Popup.appendChild(form);

          // Add the Popup to the document body or any other desired parent element
          document.body.appendChild(Popup);

          let closebuttons = document.querySelector(".close-button");
          closebuttons.addEventListener('click', () => {
              overlay.classList.add("Hide");
              popup = document.querySelector("#Popup");
              popup.remove();
          })
          }
        
      let winners = document.querySelectorAll('.winner')
      for(let i =0; i < gameNames.length; i++){
        let titleText = gameNames[i].textContent.trim();
        if(titleText.length > 14) {
          console.log('hello')
          console.log(games[i])

          gameNames[i].style = 'margin-bottom: 0px; !important';
          winners[i].style = 'margin-top: 10px; !important';
        } 
      }

    </script>

    {% endblock %}
  </body>
</html>