<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Game Tracker</title>
</head>
<body>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}
        <div id="content">
            <div class="section">
                <h3 style="margin-bottom: 0px;">Recent Games</h3>
                <div id="recentGames">
                    {% for game in recentGames %}
                    <div class="game">
                        <div >
                            <img class="testimg" src="{{ url_for('static', filename='images/home/' + game.game_type.replace(' ', '') + '.png') }}" style="border-top-right-radius: 5px;">
                        </div>
                        <div class="gameContent">
                           <h4>{{ game.game_type }}</h4>
                           <h5>Winner: {{ game.winnerName }}</h5>
                           <h5>Second: {{ game.secondName }}</h5>
                           <span style="font-size: smaller;">Game ID {{ game.game_id}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <span style="font-size: smaller;">{{ game.current_date }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="section">
                <div id="quickadd">
                    <h3 style="margin-bottom: 14px;">Quick Features</h3>
                    {% for game in favoriteGames[:3] %}
                    <div class="quickgame">
                        <div>
                            <p class="gameTitle">{{ game[0] }}</p>
                            <button id="{{ game[0].replace(' ', '') }}" style="width: 152px; outline: none;" class="btn btn-outline quickadd">Quick Add</button>
                        </div>
                        <img src="{{ url_for('static', filename='images/addgame/' + game[0].replace(' ', '') + '.png') }}">
                    </div>
                    {% endfor %}
                </div>
                <div style="margin-top: 15px;">
                    <div class="stat">
                        <img class="icon" src="/static/images/mostplayed.png">
                        <p style="margin-top: 14px;">Most Played Game</p>
                        <p style="font-family: 'Manolo Mono', sans-serif !important;">{{ profileStats[2] }}</p>
                    </div>
                    <div class="stat">
                        <img class="icon" src="/static/images/mostwon.png" style="width: 35px;">
                        <p style="margin-top: 14px; ">Most Won Game</p>
                        <p style="font-family: 'Manolo Mono', sans-serif !important;">{{ profileStats[3] }}</p>
                    </div>
                </div>

            </div>
        </div>

        <div id="overlay" class="Hide"> </div>
        <div id="popups"> </div>

        <script>
            // removing extra characters in favorite name
            titles = document.querySelectorAll('.gameTitle');
            for (let i = 0; i < titles.length; i++) {
                console.log()
                if(titles[i].textContent.length > 14){
                    titles[i].textContent = titles[i].textContent.substring(0, 14);
                }
            }

            // creating the popup for a quick add game
            let quickGames = document.querySelectorAll(".quickadd");

            for(let i =0; i < quickGames.length; i++){
                quickGames[i].addEventListener('click', () => {
                    createPopup(quickGames[i].id, 5);
                    console.log("test");
                })
            }

            function createPopup(game, maxLength){
                overlay.classList.remove("Hide");
                // Create the main div
                const Popup = document.createElement('div');
                Popup.id = 'Popup';
                Popup.classList.add('gamepopup');

                // Create the close button
                const closeButton = document.createElement('p');
                closeButton.classList.add('close-button');
                closeButton.textContent = 'x';
                Popup.appendChild(closeButton);

                // Create the heading
                const heading = document.createElement('h2');
                heading.style.color = 'white';
                heading.textContent = `Add ${game} Record`;
                Popup.appendChild(heading);

                // Create the form
                const form = document.createElement('form');
                if (game == 'Dominion') {
                    form.action = `{{ url_for('addDominion') }}`;
                    maxLength = 4;
                } else if (game == 'Catan') {
                    form.action = `{{ url_for('addCatan') }}`;
                    maxLength = 4;
                } else if (game == 'LordsofWaterdeep') {
                    form.action = `{{ url_for('addLordsofWaterdeep') }}`;
                    maxLength = 5;
                } else if (game == 'Moonrakers') {
                    form.action = `{{ url_for('addMoonrakers') }}`;
                    maxLength = 5;
                } else if (game == 'CosmicEncounter') {
                    form.action = `{{ url_for('addCosmicEncounter') }}`;
                    maxLength = 5;
                }

                if(maxLength == 4){
                    Popup.style.height = '415px';
                } else if (maxLength == 5) {
                    Popup.style.height = '490px';
                } else if (maxLength == 6) {
                    Popup.style.height = '565px';
                }

                form.method = "POST";
                form.autocomplete = "off";
                form.style = "margin-top: 10px !important;"

                const labels = ["Winner", "Runner Up", "Third Place", "Fourth Place", "Fifth Place", "Sixth Place"];
                const games = ["dominion" , "catan", "moonrakers", "lordsofwaterdeep", "cosmicencounter"];
                const gamelength = [4, 4, 5, 5, 5];
                // ... (Create and append other elements as per the provided HTML structure)
                for(let i = 1; i < maxLength + 1; i++) {
                    //creating players div to organize the inputs
                    let div = document.createElement('div');
                    div.classList.add('players');
                    //creating the first label and name input
                    let playersecion = document.createElement('div');
                    playersecion.classList.add('playerSection');
                    const label = document.createElement('label');
                    label.htmlFor = `Player${i}`;
                    label.textContent = labels[i - 1];
                    const input = document.createElement('input');
                    input.type = 'text';
                    input.id = `Player${i}`;
                    input.name = `Player${i}`;
                    input.placeholder = 'Name';
                    input.addEventListener('keyup', function() {
                        showResults(this.value, this.id);
                    });
                    playersecion.appendChild(label);
                    playersecion.appendChild(input);   
                    //creating the second label and score input
                    let playersecion2 = document.createElement('div');
                    playersecion2.classList.add('playerSection');
                    const label2 = document.createElement('label');
                    label2.htmlFor = `Score${i}`;
                    label2.textContent = 'Score';
                    const input2 = document.createElement('input');
                    input2.type = 'text';
                    input2.id = `Score${i}`;
                    input2.name = `Score${i}`;
                    input2.placeholder = 'Score';
                    playersecion2.appendChild(label2);
                    playersecion2.appendChild(input2);
                    //adding them all
                    div.appendChild(playersecion);
                    div.appendChild(playersecion2);
                    form.appendChild(div);
                }

                let button = document.createElement('button');
                button.style = "margin-top: 10px";
                button.classList.add('btn');
                button.classList.add('btn-primary');
                button.innerText = 'Submit Record';

                form.appendChild(button);
                // Finally, append the form to the main div
                Popup.appendChild(form);

                // Add the dominionPopup to the document body or any other desired parent element
                document.body.appendChild(Popup);

                let closebuttons = document.querySelector(".close-button");
                closebuttons.addEventListener('click', () => {
                    overlay.classList.add("Hide");
                    popup = document.querySelector("#Popup");
                    popup.remove();
                })
            }

            // removing overlay
            let overlay = document.querySelector("#overlay");
            overlay.addEventListener('click', () => {
                overlay.classList.add("Hide");
                Popup = document.querySelector("#Popup");
                Popup.remove();
            })
        </script>
    {% endblock %}

</body>
</html>