<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <title>Game Tracker</title>
</head>
<body>
    {% extends "base.html" %}
    {% import "bootstrap/wtf.html" as wtf %}
    {% block content %}
        <div id="content">
            <div id="placeholder">
                <h2 id="displayname">{{ user.fullname }}'s profile</h2>
                <!-- <h3 id="username">{{ user.username }}</h3> -->
                <div id="mainLayout">
                    <div class="section" id="gameSection">
                        <h3 style="margin-bottom: 0px;">Recent Games</h3>
                        <div id="recentGames">
                            {% for game in recentGames %}
                            {% if loop.index <= 6 %}
                            <div class="game">
                                <div >
                                    <img class="testimg" src="{{ url_for('static', filename='images/home/' + game.game_type.replace(' ', '') + '.png') }}" style="border-top-right-radius: 5px;">
                                </div>
                                <div class="gameContent">
                                   <h4>{{ game.game_type }}</h4>
                                   <h5>Winner: {{ game.winnerName }}</h5>
                                   <h5>Second: {{ game.secondName }}</h5>
                                   <span style="font-size: smaller;">Game ID {{ game.game_id}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                   <span style="font-size: smaller;">{{ game.current_date }}</span>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="section" id="friends">
                        <div style="height: 170px; width: 220px; position: relative;">
                            <h3>Friends</h3>
                            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
                                {% for friend in friends[:4] %}
                                <div style="flex: 0 0 50%; padding: 10px;">
                                    <a href="/profile?name={{ friend.username }}" class="friend" style="cursor: pointer;">{{ friend.fullname }}</a>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn-outline" style="position: absolute; bottom: 0;">Manage Friends</button>
                        </div>
                        <h3 id="statsisticsHeader">Stats</h3>
                        <div id="statisticsSection">
                            <div class="stat MobileHide">
                                <img class="icon" src="/static/images/bestfriend.png">
                                <p style="margin-top: 14px;">Best Friend</p>
                                <p style="font-family: 'Manolo Mono', sans-serif !important;">{{ profileStats[4] }}</p>
                            </div>
                            <div class="stat">
                                <img class="icon" src="/static/images/mostplayed.png">
                                <p style="margin-top: 14px;">Most Played Game</p>
                                <p style="font-family: 'Manolo Mono', sans-serif !important;">{{ profileStats[2] }}</p>
                            </div>
                            <div class="stat">
                                <img class="icon" src="/static/images/mostwon.png" style="width: 35px;">
                                <p style="margin-top: 14px; ">Most Won Game</p>
                                <p style="font-family: 'Manolo Mono', sans-serif !important;">{{ profileStats[3] }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="section" id="favorites" style="width: 880px; margin-bottom: 200px;">
                        <div style="display: flex; flex-direction: row; justify-content: space-between;">
                            <h3>Favorite Games</h3>
                            <div style="display: flex; flex-direction: row;">
                                <button id="expandFavorites" class="btn-outline">Expand Favorites</button>
                            </div>
                        </div>
                        
                        
                        <div id="favoriteGames">
                            <!-- three games shown but tab for expanded view that shows all 5 and how many played -->
                            {% for game in favoriteGames[:3] %}
                            <div class="miniCard">
                                <div>
                                    <img src="{{ url_for('static', filename='images/addgame/' + game[0].replace(' ', '') + '.png') }}">
                                </div>
                                <div>
                                    <span style="margin-left: 5px; margin-top: 7px;">{{ game[0] }}</span>
                                    <p style="margin-left: 5px; margin-top: 12px;">{{ game[1] }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="expandpopup" class="popup Hide">
                    <p class="close-button">x</p>
                    <h3 style="margin-top: 10px;">Edit Your Favorites</h3>
                    <div id="favoritespopup">
                        {% for game in favoriteGames %}
                        <div style="display: flex; flex-direction: column;" class="draggable-container" draggable="true">
                            <button class="remove">Remove</button>
                            <div class="favoriteCard">
                                <img src="{{ url_for('static', filename='images/addgame/' + game[0].replace(' ', '') + '.png') }}">
                                <span>{{ game[0] }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button>Save Your Favorites</button>

                    <!-- <p class="close-button">x</p>
                    <h3>Favorite a Game</h3>
                    <div style="margin-top: 25px;">
                            <select name="gameSelect" id="gameSelect" class="form-select">
                                <option value="allGames">Select a Game</option>
                                <option value="Catan">Catan</option>
                                <option value="Coup">Coup</option>
                                <option value="Dominion">Dominion</option>
                                <option value="Lords of Waterdeep">Lords of Waterdeep</option>
                                <option value="Love Letter">Love Letter</option>
                                <option value="Munchkin">Munchkin</option>
                                <option value="Just One">Just One</option>
                                <option value="The Mind">The Mind</option>
                              </select>
                    </div>
                    <div style="margin-top: 25px;">
                        <button id="joshy" class="btn btn-primary">Add to Favorites</button>
                    </div> -->
                </div>

                    
            </div>

        </div>

        <script>
            console.log('{{ currUser.username }}')
            console.log('{{ profileName }}')

            let adding = document.querySelector("#expandFavorites");
            adding.addEventListener('click', () => {
                console.log("clicked")
                let popup = document.getElementById("expandpopup");
                popup.classList.remove("Hide");
                popup.classList.add("popup");
            })

            document.querySelector(".close-button").addEventListener('click', () => {
                let popup = document.getElementById("expandpopup");
                popup.classList.remove("popup");
                popup.classList.add("Hide");
            })

            // let joshy = document.querySelector("#joshy");
            // joshy.addEventListener('click', () => {
            //     let game = document.querySelector("#gameSelect").value;
            //     console.log(game);
            //     fetch(`/addFavorite?game=${game}`, {method: 'POST'})
            //     .then(response => response.json())
            //     .then(data => console.log(data))
            //     location.reload();
            // })

            console.log("hahah")
            let favoriteGamesLength = {{ favoriteGames|length }};

            if(favoriteGamesLength < 5) {
                let fav = document.querySelector("#favorites");
                fav.setAttribute("style","width:785px");
                let addFavorite = document.querySelector("#addFavorite");
                addFavorite.classList.remove("Hide");
            }
            
            if(favoriteGamesLength === 0){
                let none = document.querySelector("#noFavorite");
                none.classList.remove("Hide");
            }
            document.addEventListener('DOMContentLoaded', (event) => {
                let dragSrcEl = null;

                function handleDragStart(e) {
                    dragSrcEl = this;
                    e.dataTransfer.effectAllowed = 'move';
                    e.dataTransfer.setData('text/html', this.outerHTML);
                    this.classList.add('dragElem');
                }

                function handleDragOver(e) {
                    e.preventDefault();
                    e.dataTransfer.dropEffect = 'move';
                    return false;
                }

                function handleDragEnter(e) {
                    this.classList.add('over');
                }

                function handleDragLeave(e) {
                    this.classList.remove('over');
                }

                function handleDrop(e) {
                    e.stopPropagation();
                    e.preventDefault();

                    const target = this; // The target element over which the dragged element is dropped
                    const draggableContainers = document.querySelectorAll('.draggable-container');
                    const afterTarget = Array.from(draggableContainers).indexOf(dragSrcEl) < Array.from(draggableContainers).indexOf(target);

                    if (dragSrcEl !== target) {
                        // Determine the insertion point based on the mouse position relative to the target center
                        const targetRect = target.getBoundingClientRect();
                        const targetCenter = targetRect.top + targetRect.height / 2;
                        const shouldInsertAfter = e.clientY > targetCenter;

                        if (afterTarget && shouldInsertAfter) {
                            target.parentNode.insertBefore(dragSrcEl, target.nextSibling);
                        } else if (!afterTarget && !shouldInsertAfter) {
                            target.parentNode.insertBefore(dragSrcEl, target);
                        } else {
                            return; // If the condition is not met, do nothing
                        }

                        // Reattach the event listeners to the newly inserted element
                        addDnDEvents(dragSrcEl);
                    }

                    target.classList.remove('over');
                }

                function handleDragEnd(e) {
                    this.classList.remove('over');
                }

                function addDnDEvents(elem) {
                    elem.addEventListener('dragstart', handleDragStart, false);
                    elem.addEventListener('dragenter', handleDragEnter, false);
                    elem.addEventListener('dragover', handleDragOver, false);
                    elem.addEventListener('dragleave', handleDragLeave, false);
                    elem.addEventListener('drop', handleDrop, false);
                    elem.addEventListener('dragend', handleDragEnd, false);
                }

                let items = document.querySelectorAll('.draggable-container');
                items.forEach((item) => {
                    addDnDEvents(item);
                });
            });

        </script>

    {% endblock %}


</body>
</html>